/* .card_item_wrapper {
  flex-grow: 1;
  width: 25%;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
} */

.card_item_wrapper .image {
  width: 100%;
  height: 50vh;
  background-position: center !important;
  background-size: cover !important;
  border: 1px solid #f0f0f0;
}

.card_item_wrapper .tags .series,
.card_item_wrapper .tags .name,
.card_item_wrapper .tags .price {
    text-align: center;
    margin: 5px 0;
}

.card_item_wrapper .tags .series {
  font-size: 17px;
  font-weight: 700;
  color: rgb(236, 33, 243);
}

.card_item_wrapper .tags .name {
  font-size: 18px;
  font-weight: 700;
}

.card_item_wrapper .tags .price {
  font-weight: 300;
  font-size: 15px;
  color: rgb(33, 142, 243)
}

.card_link,
.bag_link,
.add_to_cart_link {
    width: 100%;
    border: 1px solid #ffa702;
    padding: 5px 10px;
    display: block;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffa702;
    background: white;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.card_link:hover,
.bag_link:hover,
.add_to_cart_link:hover {
    background: #ffa702;
    color: white;
    text-decoration: none;
}

.card_item_wrapper .actions {
  display: flex;
  margin: 0 0 10px 0;
}

.card_item_wrapper .actions .button_wrap:nth-child(1) {
  flex-grow: 1;
  padding-right: 10px;
}