.banner {
    min-height: calc(100vh - 101px);
    background: url('../../images/pageBcg/bannerBcg.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}