.checkout_product_block,
.user_cart_sum,
.user_cart_empty {
  height: 30vh;
}

.checkout_product_info {
  height: 100%;
}

.checkout_product_img {
  height: 100%;
}

/* .checkout_product_background {
  content: url('/img/banner_four.png');
  height: 100%;
  width: 100%;
  z-index: 1;
} */

.cart_remove_btn {
  cursor: pointer;
}
