.checkout-banner {
  min-height: calc(100vh - 73.35px);
  background: url('/img/amiibo_two.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.checkout-empty-banner {
  min-height: calc(100vh - 73.35px);
}

.cart_no_items svg ,
.cart_success svg {
    font-size: 130px;
    color: #717171;
}