.store_page_top {
  padding: 20px 0px;
  text-transform: uppercase;
  background: linear-gradient(rgba(255, 255, 255,0.5), rgba(255, 255, 255,0.5)), url('/img/browse_banner.png')
  center/cover no-repeat;
}

