.main_loader {
  text-align: center;
  min-height: calc(100vh - 73.35px);
  background-color: white; 
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.spin{
  margin-bottom: 73.35px;
}